body {
    background-color: #f0f0f0; /* light gray background */
    text-align: center; /* center elements */
}
#ex1_n1{
    padding: 10px;
    margin: 50px 50px 30px 50px;
}
#button{
    padding: 10px;
    width: 180px;
}
#p1{
    margin: 50px;
    font-size: 50px;
    padding: auto;
}
#p2{
    margin: 50px;
}
#p3{
    margin: 50px;
}