body{
    background-color: lightgrey;
}

.div{
    position: absolute;
    top: 5px;
    left: 0%;
    right: 5%;
    height: 20%;
    width: 200px;
    padding: 20px;
    border: solid ;
}

nav{
    top: 20px;
    position: relative;
    border: solid;
    background-color: bisque;
}

#A, #B{
    width: 100px;
    
}